<?xml version="1.0"?>

<robot>
	//a part of the robot
	<link name="base">
		<visual>
			<origin xyz = "0 0 0.99"/>
			<geometry>
				<box size="0.94 0.78 1.98"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<box size="0.94 0.78 1.98"/>
			</geometry>
		</collision>
	</link>
	<link name="laser_vert_bottom">
		<visual>
			<origin xyz="0.3158 -0.0021 0.5100" rpy="3.1355 -1.3045 0.0025">
			<geometry>
				<box size="0.062 0.062 0.087">
			</geometry>
		</visual>
	</link>
</robot>
